.inbox {
  height: 790px;
  background-color: #fcf0e3;

  &__container {
    padding: 115px 0px 101px;
    display: flex;
    justify-content: space-between;
  }

  &__connect {
    padding-top: 27px;
  }

  &__manage {
    width: 519px;
  }
}

.manage {
  &__content {
    padding: 0px 30px;
  }

  &__comment {
    margin-top: 44px;
  }
}

.comment {
  height: 213px;
  padding: 30px;
  background-color: #fff;
  border-bottom: 4px solid #0185d0;

  &__text {
    font-size: 20px;
    line-height: 28px;

    span {
      font-weight: bold;
    }

    margin-bottom: 28px;
  }

  &__account {
    display: flex;
  }

  &__img {
    height: 40px;
    width: 40px;
    margin-right: 11px;
  }

  &__data {
    & > * {
      margin: 0;
      padding: 0;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  &__position {
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
}
