* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-section {
  padding-top: 39px;
  background-color: #f3c6bd;
}

.action-button {
  height: 48px;
  width: 160px;
  border-radius: 2px;
  background-color: #3040c4;
  border: none;
  padding: 17px 28px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #fff;
}

.action-button_wide {
  width: 247px;
}

.action-button_white {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  margin-left: 10px;
}

.action-button_black-text {
  color: #000;
}

._container {
  width: 1140px;
  margin: 0px auto;
}

.visual__img {
  margin-bottom: 15px;
}

.visual__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
}

.content > * {
  margin: 0;
}

.content__intro {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
}

.content__intro_blue {
  color: #0189D1;
}

.content__intro_black {
  color: #2B292D;
}

.content__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.content__text {
  font-size: 24px;
  line-height: 34px;
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

.navigation {
  margin: 7px 75px 0px auto;
}

.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 49px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  background-image: url(img/Arrow.svg);
  margin-left: 11px;
}

.headline {
  position: relative;
  width: 1140px;
  margin: auto;
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 77px;
}

.headline__content {
  position: absolute;
  z-index: 1;
}

.headline__title {
  height: 165px;
  width: 754px;
  margin: 0;
  font-weight: bold;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  z-index: 1;
}

.headline__description {
  margin-top: 34px;
  margin-bottom: 0;
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  z-index: 1;
}

.headline__bunner {
  position: relative;
  right: -105px;
  top: 0;
  margin-left: auto;
  height: 448px;
  width: 796px;
}

.headline__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
}

.about {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 77px 130px 76px;
}

.article {
  width: 555px;
}

.article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 81px;
}

.customers__logo {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.inbox {
  height: 790px;
  background-color: #fcf0e3;
}

.inbox__container {
  padding: 115px 0px 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inbox__connect {
  padding-top: 27px;
}

.inbox__manage {
  width: 519px;
}

.manage__content {
  padding: 0px 30px;
}

.manage__comment {
  margin-top: 44px;
}

.comment {
  height: 213px;
  padding: 30px;
  background-color: #fff;
  border-bottom: 4px solid #0185d0;
}

.comment__text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 28px;
}

.comment__text span {
  font-weight: bold;
}

.comment__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__img {
  height: 40px;
  width: 40px;
  margin-right: 11px;
}

.comment__data > * {
  margin: 0;
  padding: 0;
}

.comment__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.comment__position {
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.communicate {
  padding-bottom: 110px;
}

.communicate__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.communicate__info {
  margin-right: 193px;
}

.communicate__content {
  width: 461px;
}

.communicate__btn {
  margin-top: 39px;
}

.more-communicate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  font-size: 18px;
  line-height: 26px;
}

.more-communicate__item {
  width: 360px;
}

.more-communicate__text {
  margin: 0px 0px 15px 0px;
}

.more-communicate__text span {
  font-weight: bold;
}

.more-communicate__link {
  font-weight: bold;
  color: #3040c4;
}

.audience {
  background: rgba(0, 161, 198, 0.07);
  height: 983px;
  padding: 110px 0px;
}

.audience__headline {
  text-align: center;
  width: 555px;
  margin: 0px auto 111px;
}

.audience__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
}

.cards {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__item {
  border-radius: 8px;
  background-color: #fff;
  width: 262px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__item:hover {
  background-color: #3141c5;
  cursor: pointer;
}

.cards__item:hover .cards__title {
  color: #fff;
}

.cards__img {
  margin: 22px 0px;
}

.cards__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.hiring {
  padding: 106px 0 0 110px;
}

.hiring__container {
  height: 623px;
  width: 750px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hiring__header {
  text-align: center;
}

.hiring__content {
  padding: 0px 98px;
}

.hiring__title {
  margin: 0px 0px 20px 0px;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

.hiring__text {
  margin: 0px 0px 28px 0px;
  font-size: 24px;
  line-height: 34px;
}

.jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs__option {
  position: relative;
  height: 81px;
  width: 100%;
  border-radius: 8px;
  padding: 26px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid rgba(43, 41, 45, 0.2);
}

.jobs__option:last-child {
  margin-bottom: 0;
}

.jobs__option:hover {
  background: #3141c5;
  cursor: pointer;
}

.jobs__option:hover .jobs__name {
  color: #fff;
}

.jobs__option:hover .jobs__info {
  color: #fff;
  opacity: 1;
}

.jobs__option:hover .jobs__info::after {
  background-image: url("../img/arrow-left-white.svg");
}

.jobs__name {
  width: 408px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

.jobs__info {
  width: 232px;
  font-size: 18px;
  line-height: 24px;
  color: #2b292d;
  opacity: 0.6;
}

.jobs__info::after {
  content: '';
  width: 7.41px;
  height: 12px;
  background-image: url("../img/arrow-left-grey.svg");
  position: absolute;
  top: 33px;
  right: 25px;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.footer-navigation {
  width: 1140px;
  margin: 0px auto;
  height: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-company {
  margin-top: 43px;
}

.footer-description {
  font-size: 18px;
  line-height: 26px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.downloads {
  margin-top: 25px;
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.nav-links__list {
  list-style-type: none;
  padding: 0;
}

.nav-links__item {
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}

.footer-links {
  width: 1140px;
  height: 50px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.terms {
  font-size: 14px;
  line-height: 22px;
}

.terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.terms__item:last-child {
  margin-right: 0;
}

.social-links {
  margin-left: auto;
}

.social-links__item {
  margin-left: 20px;
}
